@import url('https://fonts.googleapis.com/css?family=Bitter:400i|Quicksand:400&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Quicksand';
}

html {
  scroll-behavior: smooth;
  padding: 0px;
  margin: 0px;
  max-width: 100%;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
}