// @import url('https://fonts.googleapis.com/css?family=Bitter:400i|Quicksand:400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');

@import './variables.scss';
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Source Sans Pro';
  font-size: 13pt;
  background-color: $soft-blue;
  color: $soft-slate;
  // font-weight: bold;
}

html {
  scroll-behavior: smooth;
  padding: 0px;
  margin: 0px;
  max-width: 100%;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
}

.dat-gap {
  height: 400px;
  margin-top: 400px;
  position: absolute;
}