.director {
  color: #888888;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: inherit;
  width: inherit;

  .director-label {
    font-size: 13pt;
    padding: 0.3em;
    width: fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .director-label:hover {
    cursor: pointer;
    border: solid thin black;
    box-shadow: 2px 2px 5px 2px #aaaaaa;
    border-radius: 3px;
  }

  .label-header {
    margin-left: 1em;
  }

  .label-subheader {
    margin-left: 2em;
  }

  .focused {
    font-weight: bold;
    color: #111111
  }
}