.director {
  color: #888888;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: inherit;
  width: inherit;

  .director-label {
    font-size: 13pt;
    padding: 0.2em;
    width: fit-content;
  }

  .director-label:hover {
    cursor: pointer;
    border: solid black;
  }

  .label-header {
    margin-left: 1em;
  }

  .label-subheader {
    margin-left: 2em;
  }

  .focused {
    font-weight: bold;
    color: #111111
  }
}