.link {
  color: red;
  font-size: 20pt;
}

.text-darkmode {
  color: lightblue;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 60%;
  
  .title-image {
    height: 100vh;
    position: absolute;
    overflow: none;
    overflow-x: none;
    top: 0px;
    z-index: -7;
    width: 60%;
  }

  .title-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    h1 {
      margin-bottom: 40vh;
      // margin-right: 45vw;
      font-style: normal;
      font-weight: bold;
      color: #eee;
      font-size: 50pt;
      letter-spacing: 0.03em;
      line-height: 1;
      text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.8);
    }
  
    .scroll-button {
      display: flex;
      align-self: flex-end;
      justify-self: flex-end;
      margin-right: 5vw;
      height: 5em;
      width: 6em;
      background-color: #002539;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      // padding: 5px;
      color: #DEE9F4;
      align-items: center;
      justify-content: center;
      // box-shadow: 2px 2px 5px 2px #222222;

      .scroll-down-arrow {
        position: relative;
        scale: 200%;
        animation: MoveUpDown 1.2s linear infinite;

        @keyframes MoveUpDown {
          0%, 100% {
            top: -0.5em;
          }
          50% {
            top: 0.5em;
          }
        }
      }
    }
  }

  .section {
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: -3;
  }
}
