@import './variables';

.nav-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 15px 15px 0px #dddddd;
  overflow-x: hidden;

  .nav-appendage {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s
  }

  .nav {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    // background: linear-gradient(to bottom, rgba(0,0,0,0.0) 20%, rgba(0,0,0,0.0) 80%), url('../../images/rocky_waters_vertical_slice.jpeg');
    background-size: cover;
    // background-color: $midnight-blue;
    // border-top-right-radius: 10px;
    border-bottom-right-radius: 30px;
    // padding-top: 10px;
    // padding-bottom: 10px;
    height: fit-content;
    height: -moz-fit-content;
  
    .nav-link {
      position: relative;
      display: flex;
      align-self: center;
      width: 8em;
      height: 7em;
      padding: 0em;
      color: $midnight-blue;
      text-decoration: none;
      outline: none;
      font-weight: bold;
      // text-shadow: 3px -1px white;
      
      .link-text {
        font-size: 16pt;
        position: relative;
        align-self: center;
        padding: 9px;
        padding-bottom: 12px;
        margin: 0 auto;
        border-radius: 15px;
        // background-color: rgba($color:#ffffff, $alpha: 0.9);
        border: solid thin rgba($color: #000000, $alpha: 0);
        transition: 0.1s;
        // color: white;
      }
    }
    
    #nav-link-top {
      // border-top-right-radius: 10px;
    }

    #nav-link-bottom {
      border-bottom-right-radius: 30px;
    }
    
    .nav-link:active {
      cursor: pointer;
      
      .link-text {
        // font-size: 19pt;
        // border: solid $midnight-blue;
        box-shadow: inset 0px 4px 10px -5px #000000;
      }
    }

    .current-page {
      // background-color: white;
      color: #002539;

      .link-text {
        box-shadow: inset 0px 2px 10px -5px #000000;
      }
    }
  
    .selected-section {
      background-color: $midnight-blue;
    }
  }
}

.nav-container-2 {
  display: flex;
}

.sideline {
  display: none;
}

@media screen and (min-width: 1024px) {
  .nav-wrapper {
    position: absolute;
    top: 50%;
    right: 50%;
    width: unset;
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    transition: 0.3s;
    border-radius: 30px;
    margin: 0 !important;
    
    .nav-appendage {
      width: 900px;
      max-width: 900px;
    }
  }

  .sideline {
    display: unset;
    right: 0% !important;
    margin-right: 220px !important;
    position: fixed !important;
  
    .nav-appendage {
      width: 200px !important;
    }
  }

  .nav-link:hover {
    cursor: pointer;
      
    .link-text {
      // font-size: 19pt !important;
      scale: 1.1;
      box-shadow: 0px 2px 5px 3px #000000 !important;
      // border: solid thin black !important;
    }
  }
}


