@import './variables';

.nav-wrapper {
  position: absolute;
  top: 50%;
  right: 50%;
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px #aaaaaa;
  transition: 0.25s;

  .nav-appendage {
    width: 1000px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s
  }

  .nav {
    display: flex;
    flex-direction: column;
    // margin-right: 5vw;
    position: relative;
    margin-left: auto;
    background-color: $midnight-blue;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    .scroll-to-top {
      position: relative;
      display: flex;
      align-self: center;
      width: 6em;
      height: 5em;
      padding: 0em;
      color: #DEE9F4;
      z-index: -2;
    }
  
    .nav-link {
      position: relative;
      display: flex;
      align-self: center;
      width: 6em;
      height: 7em;
      padding: 0em;
      color: #DEE9F4;
      text-decoration: none;
      outline: none;
      font-weight: bold;
      font-size: 14pt;
  
      .link-text {
        position: relative;
        align-self: center;
        padding: 0px;
        width: 50%;
        margin: 0 auto;
        transition: 0.2s ease;
        // margin-left: 10px;
      }
  
      .highlight {
        position: relative;
        display: flex;
        align-self: center;
        width: 0.4em;
        transition: 0.1s ease;
        // z-index: -1;
        left: 0.4em;
        height: 100%;
  
        .url-prefix {
          // display: none;
          opacity: 0;
          transition: 0.1s ease;
          // transition-delay: 0.1s;
          align-self: center;
          padding: 0px;
          margin: 0px;
          // width: 50%;
          // margin: 0 auto;
        }
      }
    }
  
    .nav-link:hover {
      cursor: pointer;
  
      .link-text {
        font-size: 15pt;
      }
  
      .highlight {
        width: 0.4em;
        background-color: $midnight-blue;
        padding-left: 0px;
        // margin-left: -5px;
        // margin-left: 1em;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        box-shadow: 2px 2px 2px #aaaaaa;
        left: 0.4em;
  
  
        .url-prefix {
          opacity: 1;
        }
      }
    }

    .current-page {
      background-color: white;
      color: #002539;
    }
  
    .selected-section {
      background-color: $midnight-blue;
    }
  }
}

.sideline {
  right: 0%;
  margin-right: 200px;
  position: fixed;

  .nav-appendage {
    width: 200px;
  }
}
