@import './variables';

.nav-wrapper {
  position: absolute;
  top: 50%;
  right: 50%;
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px #aaaaaa;
  transition: 0.3s;

  .nav-appendage {
    width: 1000px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s
  }

  .nav {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    background: linear-gradient(to bottom, rgba(0,0,0,0.0) 20%, rgba(0,0,0,0.0) 80%), url('../../images/rocky_waters_vertical_slice.jpeg');
    // background-color: $midnight-blue;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    // padding-top: 10px;
    // padding-bottom: 10px;
    
    .control-bar {
      background-color: $midnight-blue;
      border-top-right-radius: 10px;
      display: flex;
      justify-content: center;

      .dark-mode-toggle {
        display: flex;
        justify-content: space-around;
        width: 50%;
        // padding: 10px;
        background-color: white;
        border-radius: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  
    .nav-link {
      position: relative;
      display: flex;
      align-self: center;
      width: 8em;
      height: 7em;
      padding: 0em;
      color: $midnight-blue;
      text-decoration: none;
      outline: none;
      font-weight: bold;
      // text-shadow: 3px -1px white;
      
      .link-text {
        font-size: 16pt;
        position: relative;
        align-self: center;
        padding: 7px;
        margin: 0 auto;
        transition: 0.2s ease;
        border-radius: 10px;
        background-color: rgba($color:#ffffff, $alpha: 0.9);
        // color: white;
      }
    }
    
    #nav-link-top {
      border-top-right-radius: 10px;
    }

    #nav-link-bottom {
      border-bottom-right-radius: 10px;
    }
    
    .nav-link:hover {
      cursor: pointer;
      
      .link-text {
        font-size: 19pt;
        border: solid $midnight-blue;
      }
    }

    .current-page {
      background-color: white;
      color: #002539;
    }
  
    .selected-section {
      background-color: $midnight-blue;
    }
  }
}

.sideline {
  right: 0%;
  margin-right: 220px;
  position: fixed;

  .nav-appendage {
    width: 200px;
  }
}
