@import './variables.scss';

.page {
  width: 50%;
  // height: 3000px;
  background-color: white;
  box-shadow: 2px 2px 5px 2px #aaaaaa;
  border-radius: 10px;
  position: absolute;
  right: 55%;
  top: 5%;
  -ms-transform: translate(50%);
  transform: translate(50%);
  transition: ease 0.4s;
  // padding: 1em;
  // margin-bottom: 3em;

  hr {
    z-index: 1;
    position: relative;
    width: 90%;
  }

  .title-container {
    position: relative;
    width: 100%;
    background-color: $midnight-blue;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    margin-bottom: -5em;
    z-index: 2;
  }


  .page-title {
    font-size: 18pt;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    letter-spacing: 0.06em;

    .title-emphasis {
      font-size: 16pt;
      font-weight: bold;
      border: solid thin #dddddd;
      padding: 2px;
      margin-left: 2px;
      border-radius: 5px;
      color: $electric-blue;
      padding-top: 1px;
      padding-bottom: 1px;
    }
  }

  .title-spacer {
    height: 2em;
  }

  .page-description {
    margin-top: 3em;
    font-size: 15pt;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 1em;
  }

  .page-secondary-description {
    margin-top: 0em;
    font-size: 13pt;
    margin-left: 90px;
    margin-right: 60px;
    margin-bottom: 1em;
    font-style: italic;
  }

  .section-header {
    margin-top: 2em;
    font-size: 22pt;
    margin-left: 30px;
    margin-right: 40px;
    font-weight: bold;
    // border-bottom: solid black;
    width: fit-content;
    font-style: italic;
  }

  .sub-section {
    // display: flex;
    // flex-direction: row;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 10px;
    // border: solid $midnight-blue;
    box-shadow: inset 2px 2px 10px #aaaaaa;
    padding: 40px;
    margin-bottom: 60px;

    .sub-section-header {
      font-size: 20pt;
      // margin-left: 60px;
      font-weight: bold;
      // margin-top: 2em;
      display: flex;
      // margin-left: 20px;
      // align-self: flex-start;
      // margin-bottom: 20px;
    }

    .image-title-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      // justify-items: center;
      // margin-top: 60px;
      margin-bottom: 30px
    }

    .sub-section-image-bracer {
      width: 300px;
      height: 170.417px;
      border-radius: 10px;
      margin-right: 20px;
      // border: solid white;
    }
  
    .sub-section-image {
      position: relative;
      width: 300px;
      border-radius: 10px;
      margin-right: 20px;
      border: solid $midnight-blue;
      transition: 0.15s;
      z-index: 10;
    }

    .sub-section-image:hover {
      scale: 2;
      -ms-transform: translate(-25%, -25%);
      transform: translate(-25%, -25%);
    }

    .sub-section-link-container {
      display: flex;
      flex-direction: column;
    }
  
    .sub-header-link {
      text-decoration: none;
      outline: 0;
      color: black;
      // align-items: center;
      border-bottom: solid black;
      width: fit-content;
    }

    .sub-section-secondary-link {
      border-bottom: solid 2px black;
      text-decoration: none;
      outline: 0;
      color: black;
      width: fit-content;
      margin-top: 20px;
      margin-left: 20px;
      font-weight: bold;

      .icon {
        opacity: 100 !important;
        margin-bottom: -2px;
      }
    }

    .icon {
      align-self: center;
      justify-self: center;
      margin-left: 3px;
      opacity: 0;
      transition: 0.2s;
      margin-bottom: 0px;
      width: 0px;
    }
  
    .sub-header-link:hover {
      border-bottom: solid black;
  
      .icon {
        opacity: 100;
        width: 32px;
      }
    }

    .sub-section-secondary-link:hover {
      border-bottom-color: black;

      .icon {
        opacity: 100;
        width: 20px;
        // margin-bottom: -3px;
      }
    }
    
    .paragraph {
      font-size: 15pt;
      // margin-left: 60px;
      margin-bottom: 0.5em;
      margin-top: 0.5em;
    }
  }
}

.page-offscreen {
  top: 200%;
}

.page-hidden {
  display: none;
}