@import './variables.scss';

.page {
  width: 50%;
  height: 3000px;
  background-color: white;
  box-shadow: 2px 2px 5px 2px #aaaaaa;
  border-radius: 10px;
  position: absolute;
  right: 55%;
  top: 5%;
  -ms-transform: translate(50%);
  transform: translate(50%);
  transition: ease 0.4s;
  // padding: 1em;

  .title-container {
    position: relative;
    width: 100%;
    background-color: $midnight-blue;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    margin-bottom: -6em;
    z-index: 2;
  }

  hr {
    z-index: 1;
    position: relative;
    width: 90%;
  }

  .page-title {
    font-size: 18pt;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    letter-spacing: 0.06em;

    .title-emphasis {
      font-size: 16pt;
      font-weight: bold;
      border: solid thin #dddddd;
      padding: 2px;
      margin-left: 2px;
      border-radius: 5px;
    }
  }

  .section-header {
    margin-top: 5em;
    font-size: 22pt;
    margin-left: 30px;
    margin-right: 40px;
    font-weight: bold;
    border-bottom: solid black;
    width: fit-content;
  }

  .sub-section-header {
    font-size: 20pt;
    margin-left: 60px;
    font-weight: bold;
    margin-top: 0em;
  }

  .paragraph {
    font-size: 15pt;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 2em;
  }
}

.page-offscreen {
  top: 200%;
}

.page-hidden {
  display: none;
}