@import url("https://fonts.googleapis.com/css?family=Bitter:400i|Quicksand:400&display=swap");
.control-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #002539;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.profile-wrapping {
  display: flex;
  margin-left: 20px;
  transition: 0.1s;
}

.greeting-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.greeting-section .greeting {
  font-size: 18pt;
  padding-top: 0px;
  padding-left: 0px;
  padding: 0px;
  text-align: center;
  margin-left: 0px;
  margin-top: 1px;
  margin-bottom: 10px;
  margin-right: 25px;
  font-family: "Quicksand";
  overflow: hidden;
  white-space: nowrap;
  transition-duration: 0.2s;
}
.greeting-section .greeting .greeting-emphasis {
  font-weight: bold;
  font-size: 20pt;
  margin-left: 0px;
  margin-top: 1px;
  overflow: hidden;
  white-space: nowrap;
  transition-duration: 0.2s;
}

.headshot-container {
  display: none;
}

.headshot-img {
  width: 220px;
  border-radius: 30px;
  align-self: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.bio-image-caption {
  display: none;
}

.control-section {
  justify-self: flex-end;
}
.control-section .media-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin-right: 10px;
  height: 100%;
}
.control-section .media-links .media-icon {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
  align-items: center;
  outline: 0;
  width: fit-content;
  border-bottom: solid #002539;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-bottom: 5px;
}
.control-section .media-links .media-icon .media-caption {
  transition: 0.2s;
  padding-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 10pt;
  font-weight: thin;
  transition-duration: 0.2s;
  overflow: hidden;
  white-space: nowrap;
}
.control-section .media-links .media-icon:active {
  border-bottom: solid white;
}
.control-section .site-controls {
  display: flex;
  flex-direction: row;
}

.sideline .control-bar .media-links .media-caption {
  visibility: hidden;
  width: 0;
  padding-right: 0px;
  transition-duration: 0s;
  font-size: 0 !important;
}
.sideline .control-bar .greeting {
  visibility: hidden;
  width: 0;
  padding-right: 0px;
  margin-right: 0px;
  transition-duration: 0s;
  font-size: 0 !important;
}
.sideline .control-bar .greeting .greeting-emphasis {
  visibility: hidden;
  width: 0;
  padding-right: 0px;
  transition-duration: 0s;
  font-size: 0 !important;
}

@media screen and (min-width: 1024px) {
  .media-icon:hover {
    border-bottom: solid white !important;
  }

  .media-caption {
    font-size: 12pt !important;
  }

  .greeting {
    font-size: 22pt !important;
  }
  .greeting .greeting-emphasis {
    font-size: 24pt !important;
  }

  .control-bar {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .headshot-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    align-content: center;
    justify-content: space-between;
    text-align: center;
    margin-right: 40px;
  }

  .bio-image-caption {
    display: unset;
    text-align: center;
    font-size: 11pt;
    align-self: center;
    font-style: italic;
    padding: 0px;
    margin: 0px;
    font-family: "Quicksand";
  }
}

/*# sourceMappingURL=controlBar.css.map */
