@import url("https://fonts.googleapis.com/css?family=Bitter:400i|Quicksand:400&display=swap");
.menu-button {
  z-index: 100;
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: white;
  border-radius: 10px;
  border: solid #002539;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: none;
  outline: none;
}
.menu-button .icon {
  padding: 0px;
  margin: 0px;
}

.page {
  transition: ease 0.4s;
}
.page hr {
  width: 90%;
}
.page .title-container {
  position: relative;
  width: 100%;
  background-color: #002539;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  z-index: 2;
  padding-bottom: 2em;
  color: #f7f8ff;
}
.page .page-title {
  font-size: 18pt;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0px;
  padding-top: 1em;
  padding-bottom: 1em;
  letter-spacing: 0.06em;
}
.page .page-title .title-emphasis {
  font-size: 16pt;
  font-weight: bold;
  border: solid thin #AEF6FF;
  padding: 5px;
  margin-left: 2px;
  border-radius: 7px;
  color: #AEF6FF;
  padding-top: 2px;
  padding-bottom: 5px;
}
.page .title-spacer {
  height: 2em;
}
.page .page-description {
  margin-top: 3em;
  font-size: 15pt;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 1em;
}
.page .page-secondary-description {
  margin-top: 0em;
  font-size: 13pt;
  margin-left: 90px;
  margin-right: 60px;
  margin-bottom: 1em;
  font-style: italic;
}
.page .section-header {
  margin-top: 2em;
  font-size: 22pt;
  padding-left: 10px;
  margin-left: 0px;
  font-weight: bold;
  width: fit-content;
  font-style: italic;
  margin-bottom: 0px;
  font-family: "Quicksand";
}
.page .section {
  margin-left: 10px;
  margin-right: 10px;
}
.page .section-close-bracket {
  font-size: 22pt;
  padding-left: 10px;
  font-weight: bold;
  font-style: italic;
  width: fit-content;
  width: -moz-fit-content;
}
.page .sub-section {
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 30px;
  box-shadow: 0px 15px 15px 0px #dddddd;
  padding: 30px;
  margin-top: 60px;
}
.page .sub-section .sub-section-header {
  font-size: 16pt;
  font-weight: bold;
  display: flex;
  margin-left: 20px;
}
.page .sub-section .image-title-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.page .sub-section .sub-section-image-bracer {
  width: 100%;
  border-radius: 10px;
  margin-right: 15px;
}
.page .sub-section .sub-section-image {
  position: relative;
  width: 100%;
  border-radius: 30px;
  margin-right: 20px;
  border: solid #002539;
  transition: 0.15s;
  z-index: 10;
}
.page .sub-section .icon-tabler-arrows-minimize {
  display: none;
}
.page .sub-section .sub-section-link-container {
  display: flex;
  flex-direction: column;
}
.page .sub-section .sub-header-link {
  text-decoration: none;
  outline: 0;
  color: black;
  border-bottom: solid black;
  width: fit-content;
}
.page .sub-section .sub-section-secondary-link {
  border-bottom: solid 2px black;
  text-decoration: none;
  outline: 0;
  color: black;
  width: fit-content;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bold;
}
.page .sub-section .sub-section-secondary-link .icon {
  opacity: 100 !important;
  margin-bottom: -2px;
}
.page .sub-section .icon {
  align-self: center;
  justify-self: center;
  margin-left: 3px;
  opacity: 0;
  transition: 0.2s;
  margin-bottom: 0px;
  width: 0px;
}
.page .sub-section .sub-header-link:hover {
  border-bottom: solid black;
}
.page .sub-section .sub-header-link:hover .icon {
  opacity: 100;
  width: 32px;
}
.page .sub-section .sub-section-secondary-link:hover {
  border-bottom-color: black;
}
.page .sub-section .sub-section-secondary-link:hover .icon {
  opacity: 100;
  width: 20px;
}
.page .sub-section .paragraph {
  font-size: 15pt;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.page-hidden {
  display: none;
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
  .menu-button {
    display: none;
  }

  .page {
    width: 55%;
    position: absolute;
    right: 67%;
    top: 0%;
    -ms-transform: translate(50%);
    transform: translate(50%);
    transition: ease 0.4s;
    border-radius: 30px;
  }
  .page .image-title-container {
    flex-direction: row !important;
    align-items: center !important;
  }
  .page .sub-section-image-bracer {
    width: 50% !important;
  }
  .page .sub-section-header {
    font-size: 20pt !important;
  }

  .page-offscreen {
    top: 200%;
  }
}
@media screen and (min-width: 1400px) {
  .menu-button {
    display: none;
  }

  .page {
    width: 50%;
    position: absolute;
    right: 55%;
    top: 0%;
    -ms-transform: translate(50%);
    transform: translate(50%);
    transition: ease 0.4s;
    border-radius: 30px;
  }
  .page .image-title-container {
    flex-direction: row !important;
    align-items: center !important;
  }
  .page .sub-section-image-bracer {
    width: 50% !important;
  }
  .page .sub-section-header {
    font-size: 20pt !important;
  }
  .page-offscreen {
    top: 200%;
  }
}

/*# sourceMappingURL=page.css.map */
